body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
button {
    color: #212121;
    background-color: #F5F4FA;
}
button:hover,
button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.project {

}
.project-name {
    color: #212121;
}
.type {
    color: #757575;
    
}